@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">My Projects</h1>
    <br />

    <div class="row justify-content-center projectText">
        <h2>GreenShift</h2>
        <div class="col-6">
            <img src="">
        </div>
        <div class="col-6">
        </div>
        <p>GreenShift is one of my current projects, I started development on it for my dissertation and i've continued to work on it in my free-time after submission. It was online under this domain <a href="https://greenshift.azurewebsites.net/">GreenShift</a> but I have since taken it offline so I can work on it more before releasing it under a custom domain. I have also made an Android mobile app for GreenShift</p>
        <p> The idea behind GreenShift is that most people understand that global warming is an issue but they don't understand how significant their personal lifestyles are in CO2 contribution, GreenShifts goal is to slowly educate its users via gamification and passive facts into better undertsanding their environmental impact</p>
    </div>

    <div class="row justify-content-center projectText">
        <h2>SendItNow</h2>
        <div class="col-6">
            <img src="">
        </div>
        <div class="col-6">
        </div>
        <p>SendItNow is a project i recently undertook with a friend. It is a prank website where users can pay to send aononymous novelty prank messages to their friends. I have developed the backend and my friend developed the frontend. To make sure that the service is used safely, I developed an Admin panel where we manually approve or deny messages before they get sent off, I have configured the system to immediately refund users who have sent innapropriates texts that we've had to deny. </p>
        <p>The process of developing SendItNow has been relatively straightforward because 90% of what I've had to do for this, i had already done for GreenShift. The main difficulty was handling the PayPal API, we're nearly there but we still have some minor issues with it.</p>
    </div>

    <div class="row justify-content-center projectText">
        <h2>Bevs & Bites</h2>
        <div class="col-4">
            <img src="@Url.Content("~/bevandbitesHOME.png")" alt="Page 2 of Application Tracker" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <div class="col-4">
            <img src="@Url.Content("~/bevandbitesLIKED.png")" alt="Page 2 of Application Tracker" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <div class="col-4">
            <img src="@Url.Content("~/bevandbitesSCAN.png")" alt="Page 2 of Application Tracker" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <p>Bevs & Bites is a project I undertook for my Mobile Development module in 3rd year. We were given a brief, a mobile app that relates to food and drink and uses mutliple hardware features in innovative ways. I made an app that scanned alcoholic drinks barcodes and showed the user different foods that pair with their drinks. </p>
        <p>The application uses a fuzzy matching algorithm to try to try and grab drink type from a barcode as best as possible, sometimes information returned from API's don't return the cleanest of information so functions like .Contains(); don't work very well.</p>
        <p>I've not worked on this app since submisison and I have no intention of going back and adding to it, it was developed with .NET MAUI and its widely considered to be the worst option for mobile app development, and I can safely agree. I'm in the process of learning to use Flutter.</p>
    </div>

    <div class="row justify-content-center projectText">
        <h2>Application Tracker</h2>
        <div class="col-6">
            <img src="@Url.Content("~/applicationtrackerHOME.png")" alt="Page 1 of Application Tracker" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <div class="col-6">
            <img src="@Url.Content("~/applicationtrackerADD.png")" alt="Page 2 of Application Tracker" class="img-fluid rounded shadow" style="max-width: 60%;">
        </div>
        <p class="projectText">Application Tracker is another mobile application I have developed, once again with .NET MAUI. I developed it over the course of a few days a month after my last submission because I was finding it really difficult to keep track of all of the jobs I had applied for.</p>
    </div>

    <div class="row justify-content-center projectText">
        <h2>AI Powered Job Interview</h2>
        <div class="col-6">
            <img src="">
        </div>
        <div class="col-6">
        </div>
        <p>This is a tool I made with Python using Tkinter and the OpenAI API. I was struggling in interviews and didn't want to be paying the prices that some services offer for interview simulation. This project taught me a lot about how LLM's work and how difficult it can be to get them to do what you want them to do. The logic behind the program is relatively simple, but this project was time consuming because I spent days soley refining 4.1 mini's outputs to be what I'd consider a realistic interview experience.</p>
        <p>I have used this program a good few times over the last year and It definetly has improved my interview skills. This is a project I want to go back on and make my own AI model that can analyse tone of voice and send that off to OpenAI with my speech translated to text for more accurate simulation</p>
    </div>

    <div class="row justify-content-center projectText">
        <h2>WishWizard</h2>
        <div class="col-6">
            <img src="">
        </div>
        <div class="col-6">
        </div>
        <p>WishWizard was a tool I developed because I'm very bad with brithdays. The app allows you to add contacts on with customized messages and their respective birthdays. It uses the Android scheduling system to send recipients their custom messages to them for you. This app has saved me a lot.</p>
        <p>This Android app was developed with Android Studio and Java, I've noticed Android Studio is much better for getting functionality out of mobile apps whislt .NET MAUI's use case is that its really easy to make well-styled applications.</p>

    </div>
</div>
