@{
    ViewData["Title"] = "Alfie Siddons | Software Porjects";
}
<head>
    <meta name="description" content="All of Alfie Siddons' Projects" />
    <meta name="author" content="Alfie Siddons" />
</head>
<div class="text-center">
    <h1>My Projects</h1>
    <br />

    <div class="row justify-content-center projectText panel">
        <h2>GreenShift</h2>

        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/greenshiftTWO.png")" alt="Greenshift home page" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/greenshift.png")" alt="GreenShift stats page" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />

        <p class="projectText">GreenShift is one of my current projects, I started development on it for my dissertation and I've continued to work on it in my free time after submission. It was online under this domain <a href="https://greenshift.azurewebsites.net/">GreenShift</a> but I have since taken it offline so I can work on it more before releasing it under a custom domain. I have also made an Android mobile app for GreenShift.</p>
        <p class="projectText">The idea behind GreenShift is that most people understand that global warming is an issue but they don't understand how significant their personal lifestyles are in CO2 contribution. GreenShift's goal is to slowly educate its users via gamification and passive facts into better understanding their environmental impact.</p>
        
        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>MySQL </li>
                <li>MySQL Workbench</li>
                <li>Visual Studio</li>
                <li>C#</li>
                <li>Razor</li>
                <li>ASP.NET</li>
                <li>Firebase FCM</li>
                <li>Microsoft Azure</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center projectText panel">
        <h2>SendItNow</h2>
        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/senditnow.png")" alt="SendItNow home page" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/senditnowTWO.png")" alt="SendItNow credits purchase page" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />
        <p class="projectText">SendItNow is a project I recently undertook with a friend. It is a prank website where users can pay to send anonymous novelty prank messages to their friends. You can visit <a href="https://sendit-now.co.uk/">SendItNow</a> here. I have developed the backend and my friend developed the frontend. To make sure that the service is used safely, I developed an Admin panel where we manually approve or deny messages before they get sent off. I have configured the system to immediately refund users who have sent inappropriate texts that we've had to deny.</p>
        <p class="projectText">The process of developing SendItNow has been relatively straightforward because 90% of what I've had to do for this, I had already done for GreenShift. The main difficulty was handling the PayPal API.</p>
        
        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>SQL Server </li>
                <li>Azure Data Studio</li>
                <li>Visual Studio</li>
                <li>C#</li>
                <li>Razor</li>
                <li>ASP.NET</li>
                <li>Microsoft Azure</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center projectText panel">
        <h2>Bevs & Bites</h2>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/bevandbitesHOME.png")" alt="Bevs and bites home page" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/bevandbitesLIKED.png")" alt="Bevs and bites liekd pairings page" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/bevandbitesSCAN.png")" alt="Bevs and bites barcode scanning page" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />

        <p class="projectText">Bevs & Bites is a project I undertook for my Mobile Development module in 3rd year. We were given a brief: a mobile app that relates to food and drink and uses multiple hardware features in innovative ways. I made an app that scanned alcoholic drinks' barcodes and showed the user different foods that pair with their drinks.</p>
        <p class="projectText">The application uses a fuzzy matching algorithm to try and grab drink type from a barcode as best as possible. Sometimes, information returned from APIs doesn't return the cleanest of information, so functions like .Contains(); don't work very well.</p>
        <p class="projectText">I've not worked on this app since submission and I have no intention of going back and adding to it. It was developed with .NET MAUI and it's widely considered to be the worst option for mobile app development, and I can safely agree. I'm in the process of learning to use Flutter.</p>
        
        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>XAML</li>
                <li>SQLite </li>
                <li>Android Emulator</li>
                <li>Visual Studio</li>
                <li>C#</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center panel">
        <h2>Application Tracker</h2>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/applicationtrackerHOME.png")" alt="Page 1 of Application Tracker" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/applicationtrackerADD.png")" alt="Page 2 of Application Tracker" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/applicationtrackerADDed.png")" alt="Page 3 of Application Tracker" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />
        <p class="projectText">Application Tracker is another mobile application I have developed, once again with .NET MAUI. I developed it over the course of a few days a month after my last submission because I was finding it really difficult to keep track of all of the jobs I had applied for.</p>

        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>XAML</li>
                <li>SQLite </li>
                <li>Android Emulator</li>
                <li>Visual Studio</li>
                <li>C#</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center projectText panel">
        <h2>AI Powered Job Interview</h2>
        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/aiinterviewONE.png")" alt="Setup page of AI Job Interviwer" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-6 same-height-img-containter">
            <img src="@Url.Content("~/images/aiinterviewTWO.png")" alt="Interview page of AI Job Interviewer" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />
        <p class="projectText">This is a tool I made with Python using Tkinter and the OpenAI API. I was struggling in interviews and didn't want to be paying the prices that some services offer for interview simulation. It asks you questions with a voice and takes your answers that you speak back to it. At the end of the interview, you receive a feedback sheet on what you did well and what you can improve on. This project taught me a lot about how LLMs work and how difficult it can be to get them to do what you want them to do. The logic behind the program is relatively simple, but this project was time-consuming because I spent days solely refining 4.1 mini's outputs to be what I'd consider a realistic interview experience.</p>
        <p class="projectText">Development of this tool is quite memorable for me because it's the first time I used a multithreaded approach in my code. Now it's something I do all the time.</p>
        <p class="projectText">I have used this program a good few times over the last year and it definitely has improved my interview skills. This is a project I want to go back on and make my own AI model that can analyse tone of voice and send that off to OpenAI with my speech translated to text for more accurate simulation.</p>

        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>Python</li>
                <li>OpenAI API</li>
                <li>Google STT API</li>
                <li>Google TTS API</li>
                <li>File Writing</li>

            </ul>
        </div>
    </div>

    <div class="row justify-content-center projectText panel">
        <h2>WishWizard</h2>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/wishwizardHOME.png")" alt="Home page of WishWizard" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/wishwizardADD.png")" alt="Add birthday page of Wishwizard" class="img-fluid rounded shadow same-height-img">
        </div>
        <div class="col-4 same-height-img-containter">
            <img src="@Url.Content("~/images/wishwizardREMOVE.png")" alt="Delete birthday page of WishWizard" class="img-fluid rounded shadow same-height-img">
        </div>
        <br />
        <p class="projectText">WishWizard was a tool I developed because I'm very bad with birthdays, it was one of the first android apps I developed. The app allows you to add contacts on with customized messages and their respective birthdays. It uses the Android scheduling system to send recipients their custom messages to them for you. This app has saved me a lot.</p>
        <p class="projectText">This Android app was developed with Android Studio and Java. I've noticed Android Studio is much better for getting functionality out of mobile apps, whilst .NET MAUI's use case is that it's really easy to make well-styled applications.</p>

        <div class="panel">
            <h4>Technologies Used </h4>
            <ul class="tech-list">
                <li>XML</li>
                <li>SQLite </li>
                <li>Android Emulator</li>
                <li>Android Studio</li>
                <li>Java</li>
            </ul>
        </div>
    </div>
</div>
